.strength .strength-list {
  display: flex;
}

.strength-icon-bg {
  width: 270px;
  height: 120px;
  background: var(--team-bgr-color);
  border: transparent;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.strength-title {
  @include font(14px, 700, 1.14, null);
  text-align: Left;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.strength-item {
  width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.strength-text {
  line-height: 1.71;

  color: var(--text-font-color);
}

.heading {
  @include font(36px, 700, 1.17, null);
  margin-bottom: 50px;
  text-align: center;
}
