body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--add-font-color);
}

:root {
  --add-color: #2f303a;
  --accent-color: #2196f3;
  --add-font-color: #ffffff;
  --main-font-color: #212121;
  --text-font-color: #757575;
  --team-bgr-color: #f5f4fa;
  --logo-color: #000000;
  --focus-color: #188ce8;
  --header-border: #ececec;
  --portfolio-borders: #eeeeee;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item:first-child {
  margin-left: 0px;
}

/* ----------------------HEADER---------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border);
}

.header > .container,
.nav-header,
.site-nav,
.header-contacts {
  display: flex;
  align-items: center;
}

.site-nav > .item,
.header-contacts > .item + .item {
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  margin-left: auto;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}

.web {
  color: var(--accent-color);
}

.studio {
  color: #ffffff;
}

.site-nav {
  margin-left: 93px;
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.link,
.link-p,
.link-l {
  text-decoration: none;
  color: inherit;
  display: block;
}

.list {
  list-style: none;
}

.nav-item,
.contacts-item {
  margin: 0;
}

.header-link,
.header-contacts-link {
  font-weight: 500;
  line-height: 1.14;
}

.header-contacts-link {
  color: var(--text-font-color);
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-item {
  color: var(--text-font-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.nav-item:focus,
.nav-item:hover {
  color: var(--accent-color);
}

.link.current:after {
  content: " ";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(33px);
}

/* ---------------------HERO----------------- */

.hero {
  background-color: var(--add-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/team-bg.jpg);
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--add-font-color);
  margin-bottom: 30px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--add-font-color);

  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--focus-color);
}

/*------------------ OUR STRENGTH-----------------------*/

.strength .strength-list {
  display: flex;
}

.strength-icon-bg {
  width: 270px;
  height: 120px;
  background: var(--team-bgr-color);
  border: transparent;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.strength-icon {
}

.strength-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align: Left;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.strength-item {
  width: calc((100%-90px) / 4);
}

.strength-item:not(:last-child) {
  margin-right: 30px;
}

.strength-text {
  line-height: 1.71;

  color: var(--text-font-color);
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

/*------------------------------SPECIFICATION--------------------*/
.specification {
  padding-top: 0;
}

.specification-list {
  display: flex;
}

.specification-list > .item {
  width: calc((100%-60px) / 3);
  position: relative;
}

.specification-list > .item:not(:last-child) {
  margin-right: 30px;
}

.explanation {
  position: absolute;
  left: 0;
  bottom: 0;

  font-weight: 700;
  line-height: 16px;
  text-align: center;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--add-font-color);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

/*-------------------------TEAM-------------*/

.team {
  background-color: var(--team-bgr-color);
}

.team-list {
  display: flex;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.team-item {
  width: calc((100%-90px) / 4);
  background-color: var(--add-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-font-color);
}

.team-media {
  margin: 16px 32px 30px 32px;
}

.team-media-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.team-media-item {
  margin-right: 10px;
}

.team-media-item:last-child {
  margin-right: 0;
}

.team-media-link {
  background-color: var(--add-font-color);
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icom {
  fill: currentColor;
}

.team-media-link:hover,
.team-media-link:focus {
  background-color: var(--accent-color);
  color: var(--add-font-color);
}

/*-----------------------------OUR CLIENTS-----------------------*/

.clients-list {
  color: var(--icon-color);
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-site {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-site:hover,
.clients-site:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/*-----------------------------FOOTER---------------------------*/

.footer {
  background-color: var(--add-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  margin-bottom: 20px;
}

.container-address {
  margin-right: 70px;
}

.address-link,
.contacts-link {
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  color: var(--add-font-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.media-header {
  font-size: inherit;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-font-color);
  margin-bottom: 20px;
}

.media-list {
  display: flex;
  justify-content: center;
}

.media-item:not(:last-child) {
  margin-right: 10px;
}

.media-link {
  background-color: var(--footer-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: var(--accent-color);
}
.media-icon {
  fill: var(--add-font-color);
}

.subscribe-form {
  display: flex;
 width: 570px;
 height 86px;
 flex-wrap: wrap;
}

.email-accept {
  margin-left: auto;
}

.email-news {
  width: 100%;
}

.email-info {
  width: 358px;
  height:50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--add-font-color);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding-left: 16px;
background-color: transparent;
margin-right: 12px;
}

.email-info::placeholder {
  font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.email-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
}
.email-btn-icon {
  fill: var(--add-font-color);
  margin-left: 10px;
}

/*------------------------MODAL WINDOW------------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(3) rotate(360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--add-font-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:focus, .btn-modal:hover{
  cursor: pointer;
  color: var(--accent-color);
}

.btn-icon:focus, .btn-icon:hover {
fill: currentColor;
}

.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-font-color);
margin-bottom: 12px;
}

.label {
  display: block;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--text-font-color);
margin-bottom: 4px;
}

.label:not(:first-child) {
  margin-top: 10px;
}

.input {
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-font-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-wrap:focus-within .input,
.input-wrap:hover .input {
  border: 1px solid var(--accent-color);
}

.input-wrap:focus-within .input-icon,
.input-wrap:hover .input-icon {
  fill: var(--accent-color);
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.input:focus + .input-icon {
  fill: var(--accent-color);
}

.textarea.input {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.textarea::placeholder {
  font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
line-height: 24px;
letter-spacing: 0.03em;
color: var(--text-font-color);
display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-wrap {
  margin-top: 20px;
  min-width: 423px;
}

.checkbox-wrap .link {
  line-height: 24px;
  letter-spacing: 0.03em;
text-decoration-line: underline;
color: var(--accent-color);
}

.checkbox-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 10%;
  margin-right: 9px;
   display: flex;
  align-items: center;
  justify-content: center;
}

.checked-icon {
  fill: transparent;
}

.checkbox-input:checked + .checkbox-label span {
  background-color: var(--accent-color);
  border: none;
}

.checkbox-input:checked + .checkbox-label .checked-icon {
  fill: var(--accent-color);
}

.submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}


/* --------------------- PORTFOLIO -------------------------*/

.options-btn {
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;

  background-color: var(--team-bgr-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.options-btn:hover,
.options-btn:focus {
  background-color: var(--accent-color);
  color: var(--add-font-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.options-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.options-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-item {
  width: 370px;
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link:hover .text-info, 
.projects-link:focus .text-info {
   transform: translateY(0%);
}

.add-text {
  position: relative;
  overflow: hidden;
}

.text-info {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  color: var(--add-font-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.projects-item .projects-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--text-font-color);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:hover .text-info,
.projects-item:focus .text-info {
  transform: translateY(0%);
}

.projects-description {
  border: 1px solid var(--portfolio-borders);
  border-top: none;
  padding: 20px 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
